@charset "UTF-8";
/* CSS Document */

/* Generales */
.luxFaq * {font-family:Helvetica, Arial, sans-serif;}

/* Estructura y estilos */
.luxFaq, .luxFaq > li {list-style:none; cursor:pointer; font-weight:bold;}
.luxFaq {padding:10px; background:#e6e6e6;}
.luxFaq > li {font-size:13px; color:#06C; margin:5px 0;}
.luxFaq > li > div {padding:10px 0 10px 10px;}
.luxFaq > li > div * {margin:0; padding:0; color:#333; font-weight:normal;}
.luxFaq > li > div {display:none;}